.navbar {
  width: 100%;

  position: sticky;
  height: 7vh;
  background: rgba(235, 255, 235, 0.829);
  box-shadow: 0px -12px 37px rgba(230, 235, 243, 0.5);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}
ul {
  display: flex;
  right: 1rem;
  position: absolute;
}
li {
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.icons-flex {
  text-align: center;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}
